/* General styles */
body {
    font-family:monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 23px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Video Section */
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .video {
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  
  .comic-button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  
  /* Result Section */
  .result-container {
    border-radius: 10px;
    background-color: #ffebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  
  }
  
  .result-image {
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  
  .result-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  
  .result-link {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .result-link:hover {
    color: #0056b3;
  }
  
  .no-result {
    font-size: 14px;
    color: #555;
  }
  
  .detail-btn a{
    text-decoration: none;
    color: #272727;
    font-weight: 600;
    font-size: 20px;
  }
  /* From Uiverse.io by aasisodiya */ 
  .detail-btn {
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #eee;
    text-align: center;
    border: none;
    padding: 0.7rem;
    font-size: 1.3rem;
    width: 10em;
    border-radius: 1rem;
    color: rgb(241, 112, 112);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   .detail-btn:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   .detail-btn:hover:not(:disabled) {
    background: rgb(255, 198, 198);
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   .detail-btn:disabled {
    cursor: auto;
    color: grey;
   }