body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding-top: 40px;
    width: 85%;
}

.history-title {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #240054;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.recognition-container {
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 130px;
    transition: transform 0.3s ease;
}

.recognition-container:hover {
    transform: scale(1.02);
}

.flower-image-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the image and timestamp */
}

.flower-image {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    display: block;
}

.timestamp {
    font-size: 1.1em;
    color: #777;
    text-align: center;
    margin-top: 10px; /* Adds space between the image and timestamp */
    font-style: italic;
}

.flower-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.info-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.info-card:hover {
    background-color: #f8f8f8;
    transform: scale(1.05);
}

.info-card h4 {
    font-size: 1.3em;
    color: #240054;
    margin-bottom: 10px;
}

.info-button {
    background-color: #240054;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.info-button:hover {
    background-color: #6c00f8;
}

@media (max-width: 768px) {
    .recognition-container {
        flex-direction: column;
        align-items: center;
    }

    .flower-image {
        width: 80%;
    }

    .flower-info {
        width: 90%;
        justify-content: center;
    }

    .info-card {
        width: 90%;
    }

    .history-title {
        font-size: 2em;
    }
}

.btn-back-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-back-home:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
