<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhận Diện Hoa</title>
</head>
<body>
    <h1>Capture live photo</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Take Snapshot</button>
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas> <!-- Đảm bảo kích thước 150x150 -->
    <h2>Result</h2>
    <img id="result" alt="Result will appear here">

    <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const snapButton = document.getElementById('snap');
        const resultImage = document.getElementById('result');
        function getCsrfToken() {
            let csrfToken = null;
            const cookies = document.cookie.split(';');
            cookies.forEach(cookie => {
                const [name, value] = cookie.trim().split('=');
                if (name === 'csrftoken') {
                    csrfToken = value;
                }
            });
            return csrfToken;
        }

        // Thiết lập camera để chụp ảnh
        navigator.mediaDevices.getUserMedia({video: { width: 640, height: 480 }})
        .then(stream => {
            video.srcObject = stream;
        }).catch(console.error);

        snapButton.addEventListener('click', () => {
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            // Chuyển ảnh sang định dạng JPEG và gửi đi
            const dataUrl = canvas.toDataURL('image/jpg'); // Đảm bảo định dạng JPEG
            const base64Image = dataUrl.split(',')[1];

            const csrfToken = getCsrfToken();

            fetch('http://127.0.0.1:8000/detect', {
                method: 'POST',
                headers: {  
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ image: base64Image })
            })
            .then(response => response.json())
            .then(data => {
                resultImage.src = 'data:image/jpeg;base64,' + data.image;
            })
            .catch(console.error);
        });
    </script>
</body>
</html>